.header {

  position: sticky;
  top: 0;
  z-index: 999!important;
  width: 100%;
  background: rgb(136,235,36);
  background: linear-gradient(0deg, rgba(136,235,36,1) 0%, rgba(200,246,53,1) 100%);
  height: 3.9rem;
  margin: 0;
  font-size: 1.1rem;
  z-index: 20;
  
}





.header__wrapper{

  height: 3.9rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  column-gap: 4rem;

}

/* big devices  */

.main__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  grid-column: span 2 / span 2;
  height: 3.9rem;
  margin: 0 3.5rem;
  overflow-y:hidden;
}



.serach__bar {
  
  grid-column: span 5 / span 5;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: auto;
  width: 100%;
  
}

.form__wrapper {

  grid-column: span 5 / span 5;
  border-radius: 99px;
  flex-grow: 5;

}

.input__field {

  grid-column: span 5 / span 5;
  border-radius: 99px;

}

.input__field_search {

  z-index: 20;
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 1.5rem;
  border-width: 2px;
  border-radius: 99px;
  
}

.search__button__wrapper {

  position: relative;
  right: 1.8rem;
  
}

.search__button {

  background: transparent;
  border-width: 0;
  z-index: 30;
  align-items: center;
  height: 100%;

 
}

.sign__in {

  grid-column: span 1 / span 1;
  display: flex;
  align-items: center;

}

.sign__in button {

  padding: 8px 20px;
  border-radius: 10px;
  background-color: #273239;
  color: #fff;

}

/* Medium size devices - tablet (max-width: 600 px)*/

@media only screen and (max-with: 600px) {
}

/* small Size devices (max-width:1024 px)*/

@media only screen and (max-with: 1024px) {

}
