/* .article{
  height:  20rem;
} */

.article__wrapper{
  display: flex;
}

.article__wrapper .paragraph__wrapper p{
 
  margin-right: 20px;

}

.article__userName {
  position: relative;
  left: 60px;
  bottom: 45px;
}

.article__headLine {

  position: relative;
  left: 5px;
  margin-bottom: 1.3rem;
}

.article__paragraph {
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  left: 5px;
  width: 60%;
}

.article__readMorebtn {
  display: flex;
  align-items: flex-end;
  position: relative;
  text-align: center;
  margin-top: 1.1rem;
}

/* .article__contentImage {
  position: relative;
  left: 70%;
  bottom: 230px;

  
} */

@media screen and (max-width: 1020px) {
  .article__contentImage {
    display: none;
    
  }
  /* .gfg {
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    .geeks {
        color: white;
    } */
}


.icons{
  display: flex;
  position: relative;
  margin-top: 1.2rem;
}



.bookmark{
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 25rem;
}