.navbar{
    z-index: 999!important; 
    position: sticky;
    top: 3.9rem;
    border-top: 1px solid #42ef9b;
    box-shadow: 0 15px 10px -15px #1111112b;
    min-height: 2.5rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(138,255,179);
background: linear-gradient(90deg, rgba(138,255,179,0.9895308465182948) 0%, rgba(192,255,94,1) 100%);
    justify-content: space-between;

}


.navbar__item__wrapper{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100%;
    background-color: rgb(222, 255, 200);
    
}


.navbar__list{
    
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
    
    scroll-behavior: smooth;
    
    padding-left: 0;
    background: rgb(255,238,138);
    background: rgb(138,255,179);
    background: linear-gradient(90deg, rgba(138,255,179,0.9895308465182948) 0%, rgba(192,255,94,1) 100%);

}