.sidebar {

  max-height: calc(100vh - 6.5rem);
  width: 50%;
  max-width: 25%;
  
  position: sticky;
  top: 6.4rem;
  padding: 2rem 2.5rem;
  color: white;
  background: #1B2430;  /* fallback for old browsers */


  /* background: -webkit-linear-gradient(to right, #94716B, #B79891); 
  background: linear-gradient(to right, #94716B, #B79891);
   */
  overflow-y: auto;

}


.link{
  color: #EEEEEE;
}

.sidebar__header{
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.properWidth {
  width: 100%;
  margin: 0 auto;
}

.sidebar__list {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.sidebar__list__item {
  margin-bottom: 0.8rem;
}


