.sidebar {

  max-height: calc(100vh - 6.5rem);
  width: 50%;
  max-width: 22%;
  
  position: sticky;
  top: 6.4rem;
  padding: 2rem 2.5rem;
  color: #000000;
  background-color: rgb(184, 244, 155);
  overflow-y: auto;

}

.sidebar__header{
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

.properWidth {
  width: 100%;
  margin: 0 auto;
}

.sidebar__list {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.sidebar__list__item {
  margin-bottom: 0.8rem;
}


